<!----------------------------------------------------------------
    註解清單
    --
    "需要新的CSS"   : 需要把Style修掉並且改成以CSS的方式控制版面配置
    "img名字要改"   : 圖片名稱更改
    "Link"          : href的連結還沒上
    ====
    更新紀錄(Allowance/Index)
    --
    2022/1/23 
        全域修改完成，剩註解區塊尚未調整
----------------------------------------------------------------->
<!-- Banner section -->
<div class="inner-banner">
    <section class="w3l-breadcrumb text-center">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> 申請補助</li>
            </ul>
        </div>
    </section>
</div>
<!-- // Banner Section -->
<!-- 申請流程 (Home)S3 -->
<section class="w3l-servicesblock py-5" id="Allow_SOP">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 about-right-faq align-self mt-lg-0 mt-sm-5 mt-4 pl-lg-5">
                <h3 class="hny-title mb-4">辦理耐震階段性補強補助，建築物應符合下列條件之一</h3>
                <div class="separatorhny"></div>
                <p class="">
                    有鑑於過去歷次大地震倒塌的建築物，其倒塌主要原因係軟弱層之破壞模式，若能於建築物底層增加補強構件，提供短期緊急處置措施，即可大幅降低建物於大地震來襲時瞬間崩塌之風險。因此，耐震階段性補強其目的，乃在排除建築物底層軟弱層破壞之短期緊急性處理措施，僅需花費較少的經費，即可大幅降低建物於大地震來襲時瞬間崩塌的風險，以降低倒塌或大規模傷亡的機率，達到確保生命安全之目的。
                    - 耐震能力初步評估結果危險度總分大於三十分者。
                    - 耐震能力詳細評估結果為須補強或重建者。
                </p>
                <div class="two-grids mt-md-0 mt-md-5 mt-4">
                    <div class="grids_info">
                        <h4> 申請身份</h4>
                        <p class="">
                            公寓大廈 <br />
                            已成立管理組織 <br>
                            未成立管理組織
                        </p>
                    </div>
                    <div class="grids_info">
                        <h4> 申請諮詢</h4>
                        <p class="">
                            請洽住宅座落所在縣市政府提出申請，政府機關諮詢服務時間為週一至週五(請於上班時間洽詢)。可參考本網站
                            <!-- Link -->
                            <a href="#">「縣市政府聯絡資訊」</a>之頁面。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                <!-- 需要新的CSS -->
                <img src="assets/images/allowance/Allow_Sop.png" alt="" class="radius-image-full img-fluid" style="padding-top:50px">
            </div>
        </div>
        <div class="row">
            <!-- 需要新的CSS -->
            <div class="grids_info" style="padding-left:45px; padding-top:20px; padding-bottom:0px">
                <h4> 已成立管理組織</h4>
                <p class="">
                    檢附區分所有權人會議決議通過申請耐震階段性補強補助之會議紀錄，並以管理組織主任委員或管理負責人為申請人。
                </p>
            </div>
            <div class="grids_info" style="padding-left:45px; padding-top:20px; padding-bottom:0px">
                <h4> 未成立管理組織</h4>
                <p class="">
                    未推選管理負責人者，應有區分所有權人數及區分所有權比率逾二分之一同意（但區分所有權同意比率逾三分之二者，其人數不予計算），並推派一人代表為申請人。
                </p>
            </div>
        </div>
    </div>
</section>
<!-- // 申請流程 (Home)S3 -->
<!-- 補助比例與上限 S1 -->
<section class="w3l-bottom-grids-6" id="Allow_Limit">
    <div class="py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                    <img src="assets/images/allowance/UseTable.png" width="900" height="600" alt="" class="radius-image-full img-fluid">
                </div>
                <div class="col-lg-6 pl-lg-5 ">
                    <h3 class="sub-titlehny">申請補助</h3>
                    <h3 class="hny-title mx-0 mb-4"> 比例與上限</h3>
                    <div class="separatorhny"></div>
                    <p class="">
                        若申請案件經耐震能力初步評估結果危險度總分大於四十五分、 耐震能力詳細評估結果為須補強或重建，
                        或經直轄市、縣（市）政府認定耐震能力具潛在危險疑慮之建築物，
                        補助上限得提高為「新臺幣450萬元，並以不超過總補強費用85 %為限。 」
                    </p>
                    @*<a href="#" class="btn btn-style btn-primary mt-sm-5 mt-4">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 申請補助所需文件 S1 -->
<section class="w3l-index3" id="Allow_Doc">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                    <!--img要改-->
                    <img src="assets/images/paper/1.jpg" alt="" class="radius-image-full img-fluid">
                </div>
                <div class="col-lg-6 pl-lg-5 ">
                    <h3 class="sub-titlehny">申請補助</h3>
                    <h3 class="hny-title mx-0 mb-4"> 所需文件</h3>
                    <div class="separatorhny"></div>
                    <p class="">
                        申請人應於受理申請期間內，檢具下列相關文件，向建築物所在地之地方政府提出申請：<br />
                        <br />
                        1. 申請書。<br />
                        2. 公寓大廈管理組織報備證明文件影本與區分所有權人會議決議通過申請耐震階段性補強補助之會議紀錄；公寓大廈未成立管理組織者，檢具建物登記謄本及區分所有權人同意文件。<br />
                        3. 使用執照影本或其他合法建築物證明文件。<br />
                        4. 耐震能力初步評估結果危險度總分大於三十分之評估報告書影本或耐震能力詳細評估結果為須補強或重建報告書影本。<br />
                        5. 補強概估經費表。<br />
                        6. 其他文件。
                    </p>
                    @*<a href="#" class="btn btn-style btn-primary mt-sm-5 mt-4">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 經費補助申請 S2 -->
<section class="w3l-content-4 py-5" id="Subsidy">
    <div class="content-4-main py-lg-5 py-md-4">
        <div class="container">
            <div class="row cont-ser-info-inn mx-lg-0">
                <div class="col-lg-4 cont-ser-right">
                    <div class="cont-ser-right-grids mb-lg-5 mb-4">
                        <div class="row">
                            <div class="col-2 cont-ser-right-icon">
                                <div class="cont-ser-icon">
                                    <span class="fa fa-sitemap"></span>
                                </div>
                            </div>
                            <div class="col-10 cont-ser-right-info">
                                <h6><a href="#url">經費補助申請</a></h6>
                                <p>
                                    階段性補強補助經費分為二階段，申請人得一次或分階段向執行機關申請撥付，其規定如下：
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cont-ser-right-grids mb-lg-5 mb-4">
                        <div class="row">
                            <div class="col-2 cont-ser-right-icon">
                                <div class="cont-ser-icon">
                                    <span class="fa fa-bar-chart"></span>
                                </div>
                            </div>
                            <div class="col-10 cont-ser-right-info">
                                <h6><a href="#url">階段1 : 階段性補強設計階段</a></h6>
                                <p>
                                    於階段性補強設計圖說及預算書經本部委託機構審查通過後，
                                    得申請撥付設計之實際經費，並以不超過該機構審查通過之總補助經費百分之十為限，
                                    其應檢附文件請參照右邊的詳細說明。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cont-ser-right-grids">
                        <div class="row">
                            <div class="col-2 cont-ser-right-icon">
                                <div class="cont-ser-icon">
                                    <span class="fa fa-thumbs-o-up"></span>
                                </div>
                            </div>
                            <div class="col-10 cont-ser-right-info">
                                <h6><a href="#url">階段2 : 階段性補強竣工階段 </a></h6>
                                <p>
                                    於工程竣工並經執行機關審查通過後，得申請撥付賸餘之補助經費，其應檢附文件請參照右邊的詳細說明。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 cont-ser-left px-lg-4 mt-lg-0 mt-5">
                    <img src="assets/images/architecture/a3.gif" class="img-fluid radius-image" alt="">
                </div>
                <div class="col-lg-4 cont-ser-right">
                    <div class=" cont-ser-right-grids mb-lg-5 mb-4">
                        <div class="row">
                            <!-- 這個part是設計icon -->
                            <div class="col-2 cont-ser-right-icon">
                                <div class="cont-ser-icon">
                                    <span class="fa fa-object-group"></span>
                                </div>
                            </div>
                            <!-- // Icon-->
                            <div class="col-10 cont-ser-right-info">
                                <h6><a href="#url">設計階段應附文件</a></h6>
                                <p>
                                    1.申請函。<br />
                                    2.補助核准函。
                                    3.依法登記開業建築師、執業土木工程技師或結構工程技師簽證之階段性補強設計圖說及預算書。<br />
                                    4.本部委託機構審查通過證明文件。<br />
                                    5.階段性補強設計合約書。<br />
                                    6.設計單位參加階段性補強講習會參訓證明文件。<br />
                                    7.費用請撥領據。<br />
                                    8.其他文件。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cont-ser-right-grids mb-lg-5 mb-4">
                        <div class="row">
                            <div class="col-2 cont-ser-right-icon">
                                <div class="cont-ser-icon">
                                    <span class="fa fa-bullseye"></span>
                                </div>
                            </div>
                            <div class="col-10 cont-ser-right-info">
                                <h6><a href="#url">竣工階段應檢附文件</a></h6>
                                <p>
                                    1.申請函。<br />
                                    2.補助核准函。<br />
                                    3.階段性補強監造合約書及補強工程合約書。<br />
                                    4.依法登記開業建築師、執業土木工程技師或結構工程技師簽證之工程竣工圖、監造證明，及營造業出具之竣工證明。<br />
                                    5.符合建築法等相關法令規定之執行機關許可證明文件。<br />
                                    6.監造單位及營造業參加階段性補強講習會參訓證明文件。<br />
                                    7.施工前後照片。<br />
                                    8.費用請撥領據。<br />
                                    9.其他文件。
                                </p>
                            </div>
                        </div>
                    </div>
                    @*<div class="cont-ser-right-grids">
                            <div class="row">
                                <div class="col-2 cont-ser-right-icon">
                                    <div class="cont-ser-icon">
                                        <span class="fa fa-flask"></span>
                                    </div>
                                </div>
                                <div class="col-10 cont-ser-right-info">
                                    <h6><a href="#url">Transformation</a></h6>
                                    <p>
                                        Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec
                                        adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>
</section>
