<!----------------------------------------------------------------
    註解清單(Ctrl+F)
    --
    "需要新的CSS"   : 需要把Style修掉並且改成以CSS的方式控制版面配置
    "img名字要改"   : 圖片名稱更改
    "Link"          : href的連結還沒上
    "todo"          : 註解最前面有todo代表還沒做
    ====
    更新紀錄(Contact/Index)
    --
    2022/1/25
        1. 版面更新完成，聯絡那邊的Controller還沒接
----------------------------------------------------------------->
<!--Inner Banner-->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">首頁</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> 聯絡我們</li>
            </ul>
        </div>
    </section>
</div>
<!-- // Inner Banner -->
<!-- contact1 -->
<section class="w3l-contact-1 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="d-grid contact-view mb-5 pb-lg-5">
                <div class="cont-details">
                    <div class="contactct-fm-text text-left mb-md-5 mb-4">
                        <h4 class="sub-titlehny">財團法人國家實驗研究院 國家地震工程研究中心</h4>
                        <h3 class="hny-title mb-4">
                            私有建築物階段性補強專案辦公室
                        </h3>
                        <div class="separatorhny"></div>
                        <p class="mb-sm-5 mb-4">
                            國家地震工程研究中心受內政部營建署委託成立私有建築物階段性補強專案辦公室，
                            提供民眾耐震階段性補強相關的資訊與協助，並可免費向專案辦公室申請派員至貴社區辦理耐震階段性補強說明會，
                            使住戶更瞭解辦理耐震階段性補強的好處。
                        </p>

                    </div>
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="cont-right">
                            <h6>聯絡電話</h6>
                            <p><a href="tel:+(02) 6630-0237">+(02) 6630-0237</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o"></span>
                        </div>
                        <div class="cont-right">
                            <h6>寄信給我們</h6>
                            <p>
                                台北市, 新北市
                                <!-- 空格 -->
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                ➜ <a href="mailto:yshsiao@narlabs.org.tw" class="mail">yshsiao@narlabs.org.tw</a><br />
                                連絡電話 ➜ (02) 6630-0233
                            </p>
                            <p>——————————————————————————————</p>
                            <p>
                                新竹縣, 新竹市, 嘉義縣, 嘉義市<br />台南市, 南投縣, 彰化縣, 雲林縣
                                ➜ <a href="mailto:ghchang@narlabs.org.tw" class="mail">ghchang@narlabs.org.tw</a><br />
                                連絡電話 ➜ (02) 6630-0239
                            </p>
                            <p>——————————————————————————————</p>
                            <p>
                                花東縣, 臺東縣, 屏東縣, 高雄市<br />基隆市, 宜蘭縣
                                <!-- 空格 -->
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                ➜ <a href="mailto:minchin@narlabs.org.tw" class="mail">minchin@narlabs.org.tw</a><br />
                                連絡電話 ➜ (02) 6630-5186
                            </p>
                            <p>——————————————————————————————</p>
                            <p>
                                桃園市, 臺中市, 苗栗縣, 金門縣<br />連江縣, 澎湖縣
                                <!-- 空格 -->
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                ➜ <a href="mailto:jlpeng@narlabs.org.tw" class="mail">jlpeng@narlabs.org.tw</a><br />
                                連絡電話 ➜ (02) 6630-5187
                            </p>

                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="cont-right">
                            <h6>中心地址</h6>
                            <p class="pr-lg-5">臺北市大安區辛亥路三段200號</p>
                        </div>
                    </div>
                </div>
                <div class="map-content-9">
                    <div class="contactct-fm map-content-9 pl-lg-4">
                        <div class="contactct-fm-text text-left">
                            <h4 class="sub-titlehny">Contact Us</h4>
                            <h3 class="hny-title mx-0 mb-4 text-left">Fill out the form.</h3>
                            <div class="separatorhny"></div>
                            <p class="mb-sm-5 mb-4">
                                服務時間:週一至週五9:00至18:00<br />
                                服務期間:110年9月1日至111年8月26日
                            </p>
                        </div>
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                            <div class="twice-two">
                                <input type="text" class="form-control" name="w3lName" id="w3lName"
                                       placeholder="Name" required="">
                                <input type="email" class="form-control" name="w3lSender" id="w3lSender"
                                       placeholder="Email" required="">
                            </div>
                            <div class="twice">
                                <input type="text" class="form-control" name="w3lSubject" id="w3lSubject"
                                       placeholder="Subject" required="">
                            </div>
                            <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Message"
                                      required=""></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-style mt-4">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14461.969103411308!2d121.5476404!3d25.0173627!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5df7f92b0939c74b!2z5ZyL5a625Zyw6ZyH5bel56iL56CU56m25Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1643083356720!5m2!1szh-TW!2stw"
                        width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
            </div>

        </div>
</section>
<!-- // contact1 -->
