<!----------------------------------------------------------------
    註解清單(Ctrl+F)
    --
    "需要新的CSS"   : 需要把Style修掉並且改成以CSS的方式控制版面配置
    "img名字要改"   : 圖片名稱更改
    "Link"          : href的連結還沒上
    "todo"          : 註解最前面有todo代表還沒做
    ====
    更新紀錄(About/Explain)
    --
    2022/1/25
        1. 照片命名與資料夾規劃尚未
----------------------------------------------------------------->
<!-- Inner Banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">首頁</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> 關於補強</li>
            </ul>
        </div>
    </section>
</div>
<!-- 耐震階段性補強說明 S1 -->
<section class="" id="Info_explain">
    <div class="py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                    <img src="/assets/images/3-2a.png" alt="" class="radius-image-full img-fluid" style="width:600px; height:600px">
                </div>
                <div class="col-lg-6 pl-lg-5 ">
                    <h3 class="sub-titlehny">About Us</h3>
                    <h3 class="hny-title mx-0 mb-4">耐震階段性補強說明</h3>
                    <div class="separatorhny"></div>
                    <p class="">
                        <br />
                        <br />
                        <h4>補強建築物結構元件：</h4>
                        擴大原有梁斷面補強、RC梁之下緣貼片包覆補強、擴大原有柱斷面補強、既有
                        柱貼片包覆補強、既有柱增設翼牆、既有RC牆加厚或碳纖布包覆、增設耐震RC
                        剪力牆、改善柱可變形長度等。<br />
                        <br />
                        <br />
                        <br />
                        <h4>改善建築物結構系統：</h4>
                        增設耐力構架、增設RC翼牆、增設RC剪力牆或加厚原有剪力牆、
                        增設PC版或鋼板等之補強壁體、增設含鋼骨斜撐之X型、K型或◇型框架、基礎或地盤改良、增
                        設連續壁或群樁、基樁本身之補強等。
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                        <br />
                        <br />
                        <br />
                        <img src="/assets/images/3-2.1btest.jpg" width="900" height="600" alt="" class="radius-image-full img-fluid">
                    </div>
                    <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                        <img src="/assets/images/allowance/UseTable.png" width="900" height="600" alt="" class="radius-image-full img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 階段性補強A方案 S1 -->
<section class="w3l-bottom-grids-6" id="PlanA">
    <div class="py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 pl-lg-5 ">
                    <h3 class="sub-titlehny">耐震階段性補強說明</h3>
                    <h3 class="hny-title mx-0 mb-4">階段性補強 A 方案 </h3>
                    <div class="separatorhny"></div>
                    <div class="">
                        <h4>目標: 針對軟弱層施作耐震補強措施。</h4><br>
                        <br />
                        <h4>優點:</h4><br />
                        <p>1. &nbsp;利用底層的公共空間進行耐震補強，例如樓梯間、外牆、側邊柱等。降低住戶居住空間的影響</p>
                        <p>2. &nbsp;底層耐震補強的工期短，僅需2~3個月，施工期間仍可居住，減少搬遷安置問題。</p>
                        <p>3. &nbsp;補強經費相對精省。</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                    <img src="/assets/images/b2a-removebg-preview.png" alt="" class="radius-image-full img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 階段性補強B方案 S1 -->
<section class="w3l-index3" id="PlanB">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 pl-lg-5 ">
                    <h3 class="sub-titlehny">耐震階段性補強說明</h3>
                    <h3 class="hny-title mx-0 mb-4"> 階段性補強 B 方案</h3>
                    <div class="separatorhny"></div>
                    <div class="">
                        <h4>目標: &nbsp;不只補救軟弱層，更能達到法規標準耐震力的八成以上。</h4>
                        <br />
                        <h4>優點: &nbsp;</h4><br />
                        <p>1. 補強範圍較廣，保障更多。</p>
                        <p>2. 補強後整體耐震能力較A方案強。</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                    <!--img要改-->
                    <img src="/assets/images/b2b-removebg-preview.png" alt="" class="radius-image-full img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 案例說明 S1 -->
<section class="w3l-bottom-grids-6" id="Example">
    <div class="py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 pl-lg-5 ">
                    <h3 class="sub-titlehny">耐震階段性補強說明</h3>
                    <h3 class="hny-title mx-0 mb-4">補強案例說明 </h3>
                    <div class="separatorhny"></div>
                    <ul>
                        <li>
                            <a href="#" class="hny-title mx-0 mb-4 ">
                                <div class="btn btn-primary btn-style mt-md-5 mt-4">
                                    案例一
                                </div>
                                <div class="btn btn-primary btn-style mt-md-5 mt-4">
                                    案例二
                                </div>
                                <div class="btn btn-primary btn-style mt-md-5 mt-4">
                                    案例三
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="hny-title mx-0 mb-4 ">
                                <div class="btn btn-primary btn-style mt-md-5 mt-4">
                                    案例四
                                </div>
                                <div class="btn btn-primary btn-style mt-md-5 mt-4">
                                    案例五
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                    <img src="/assets/images/architecture/design.jpg" alt="" class="radius-image-full img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
