<!----------------------------------------------------------------
    註解清單(Ctrl+F)
    --
    "需要新的CSS"   : 需要把Style修掉並且改成以CSS的方式控制版面配置
    "img名字要改"   : 圖片名稱更改
    "Link"          : href的連結還沒上
    "todo"          : 註解最前面有todo代表還沒做
    ====
    更新紀錄(About/Index)
    --
    2022/1/25

----------------------------------------------------------------->

<!-- Inner Banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">首頁</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> 關於補強</li>
            </ul>
        </div>
    </section>
</div>
<!-- 補強專業資訊 S1 -->
<section class="" id="info">
    <div class="py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                    <img src="/assets/images/ProInfo.gif" alt="" class="radius-image-full img-fluid">
                </div>
                <div class="col-lg-6 pl-lg-5 ">
                    <h3 class="sub-titlehny">About Us</h3>
                    <h3 class="hny-title mx-0 mb-4">補強專業資訊</h3>
                    <div class="separatorhny"></div>
                    <p class="">
                        <h4>補強建築物結構元件：</h4>
                        擴大原有梁斷面補強、RC梁之下緣貼片包覆補強、擴大原有柱斷面補強、既有
                        柱貼片包覆補強、既有柱增設翼牆、既有RC牆加厚或碳纖布包覆、增設耐震RC
                        剪力牆、改善柱可變形長度等。<br />
                        <br />
                        <h4>改善建築物結構系統：</h4>
                        增設耐力構架、增設RC翼牆、增設RC剪力牆或加厚原有剪力牆、
                        增設PC版或鋼板等之補強壁體、增設含鋼骨斜撐之X型、K型或◇型框架、基礎或地盤改良、增
                        設連續壁或群樁、基樁本身之補強等。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 下載項目 S1 -->
<div class="w3l-homeblog py-5" id="services">
    <div class="container py-lg-5 py-md-4">
        <h4 class="sub-titlehny">常用檔案</h4>
        <h3 class="hny-title mx-0 mb-4 text-left">下載</h3>
        <div class="separatorhny"></div>
        <div class="row top-pics">
            <!-- top-pic1 -->
            <div class="ser-grid col-lg-4 col-md-6 mt-lg-5 mt-4">
                <a class="top-pic1" href="~/download/110年宣導摺頁.pdf">
                    <div class="card-body blog-details">
                        <div class=""><span class="fa fa-linode"></span></div>
                        <!-- 需要新的CSS -->
                        <p style="font-size: 1.5rem; line-height: 1.33; font-weight: 700; display: inline-block; color: #fff; margin: 0.6rem 0 1rem 0;">
                            DM摺頁
                        </p>
                    </div>
                </a>
            </div>
            <!-- top-pic2 -->
            <div class="ser-grid col-lg-4 col-md-6 mt-lg-5 mt-4">
                <a class="top-pic2" href="~/download/懶人包.pdf">
                    <div class="card-body blog-details">
                        <div class=""><span class="fa fa-linode"></span></div>
                        <!-- 需要新的CSS -->
                        <p style="font-size: 1.5rem; line-height: 1.33; font-weight: 700; display: inline-block; color: #fff; margin: 0.6rem 0 1rem 0;">
                            懶人包
                        </p>
                    </div>
                </a>
            </div>

            <div class="ser-grid col-lg-4 col-md-6 mt-lg-5 mt-4">
                <a class="top-pic3" href="~/download/精簡版手冊.pdf">
                    <div class="card-body blog-details">
                        <div class=""><span class="fa fa-handshake-o"></span></div>
                        <!-- 需要新的CSS -->
                        <p style="font-size: 1.5rem; line-height: 1.33; font-weight: 700; display: inline-block; color: #fff; margin: 0.6rem 0 1rem 0;">
                            精簡版手冊
                        </p>
                    </div>
                </a>
            </div>

            <div class="ser-grid col-lg-4 col-md-6 mt-lg-5 mt-4">
                <a class="top-pic4" href="~/download/補強技術手冊.pdf">
                    <div class="card-body blog-details">
                        <div class=""><span class="fa fa-money"></span></div>
                        <!-- 需要新的CSS -->
                        <p style="font-size: 1.5rem; line-height: 1.33; font-weight: 700; display: inline-block; color: #fff; margin: 0.6rem 0 1rem 0;">
                            補強技術手冊
                        </p>
                    </div>
                </a>
            </div>

            <div class="ser-grid col-lg-4 col-md-6 mt-lg-5 mt-4">
                <a class="top-pic1" href="~/download/宣導海報.jpg">
                    <div class="card-body blog-details">
                        <div class=""><span class="fa fa-bullhorn"></span></div>
                        <!-- 需要新的CSS -->
                        <p style="font-size: 1.5rem; line-height: 1.33; font-weight: 700; display: inline-block; color: #fff; margin: 0.6rem 0 1rem 0;">
                            宣導海報
                        </p>
                    </div>
                </a>
            </div>

            <div class="ser-grid col-lg-4 col-md-6 mt-lg-5 mt-4">
                <!-- todo超連結頁面還沒做 -->
                <a class="top-pic5" href="@Url.Action("Index", "Allowance")#Allow_SOP">
                    <div class="card-body blog-details">
                        <div class=""><span class="fa fa-linode"></span></div>
                        <!-- 需要新的CSS -->
                        <p style="font-size: 1.5rem; line-height: 1.33; font-weight: 700; display: inline-block; color: #fff; margin: 0.6rem 0 1rem 0;">
                            3D遊戲
                        </p>
                    </div>
                </a>
            </div>

            <div class="ser-grid col-lg-4 col-md-6 mt-lg-5 mt-4">
                <!-- todo超連結頁面還沒做 -->
                <a class="top-pic4" href="@Url.Action("Index", "Allowance")#Allow_SOP">
                    <div class="card-body blog-details">
                        <div class=""><span class="fa fa-linode"></span></div>
                        <!-- 需要新的CSS -->
                        <p style="font-size: 1.5rem; line-height: 1.33; font-weight: 700; display: inline-block; color: #fff; margin: 0.6rem 0 1rem 0;">
                            契約範本
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

